body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F7ECDE;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
.cloud {
    width: 150px;
}
.right-cloud {
    text-align: right;
}
.header-content {
    text-align: center;
    color: #9ED2C6;
}
.header-content > h1 {
    font-family: 'Sacramento', cursive;
    font-size: 100px;
    margin-bottom: 0;
}
.header-content > h2 {
    font-family: "Roboto", sans-serif;
    font-size: 50px;
}
.mountain {
    text-align: center;
}